#baidumap
{
    height: 100%;
    width: 100%;
    margin: 0;
    margin-bottom: -10px;
    font-family: "微软雅黑";
}

#up-map-div
{
    width: 400px;
    top: 10px;
    right: 10px;
    position: absolute;
    z-index: 9999;
    border: 1px solid grey;
    background-color: #FFFFFF;
}

.panel
{
    margin: 0px;
    padding: 5px;
    text-align: left;
    background: #ffffff;
    border: solid 1px #62a8d1;
    display: none;
}

.flip
{
    margin: 0px;
    padding: 5px;
    text-align: left;
    background: #62a8d1;
    border: solid 0px #62a8d1;
    color: #ffffff;
}

.BMap_cpyCtrl {  
    display: none;  
}  
  
.anchorBL {  
    display: none;  
}  
